.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 50px;
    margin-right: 10px;
}


.profile-img {
    width: 40px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.notification-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 32px;

}

.notification-img:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.noti-img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.add-course {
    color: white;
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.messages-icon {
    cursor: pointer;
}