.event-card {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #2c3e50;
  font-weight: 600;
}

.event-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-form input,
.event-form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  transition: border 0.2s ease;
  background-color: white;
  color : black;
  width: 100%;
}

.event-form input:focus,
.event-form textarea:focus {
  outline: none;
  border: 1px solid #4e9af1;
  box-shadow: 0 0 6px rgba(78, 154, 241, 0.3);
}

.event-form textarea {
  resize: none;
  min-height: 100px;
}

.event-form button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #4e9af1;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.event-form button:hover {
  background: #357ac9;
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-group-time {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.form-group-time label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.form-group-time .time-wrapper {
  display: flex;
  gap: 8px;
}

.form-group-time input[type="time"],
.form-group-time select  {
  height: 40px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-group-time input[type="time"] {
  flex: 1;
}

.form-group-time select {
  width: 80px;
  cursor: pointer;
  background-color: #fff;
}

.form-group-time input:focus,
.form-group-time select:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.form-group-time .error {
  font-size: 12px;
  color: #e11d48;
}



.error {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: 4px;
}
