.addCourse {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.add-course-form {
  width: 700px;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.add-course-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-weight: 100;
  margin-top: 35px;
  display: block;
  font-size: 20px;
}

.title-name{
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  outline: none;
  font-size: 14px;
  background-color: white;
  color: black;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  outline: none;
  font-size: 14px;
  background-color: white;
  color: black;
}

textarea {
  min-height: 90px;
  resize: vertical;
}

.skills-checkbox-group {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.skill-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #f6f6f6;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.access-type-group {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.access-radio {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.module-card {
  padding: 15px;
  border-radius: 8px;
  background: #fafafa;
  border: 1px solid #e2e2e2;
  margin-top: 15px;
}

button {
  cursor: pointer;
}

.add-course-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #4a77f8;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}

.add-course-btn:hover {
  background: #335eea;
}

.module-card input,
.module-card textarea {
  margin-bottom: 8px;
}
