.navbar {
  background-color: rgb(88, 163, 249);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 45px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-section p {
  margin: 0;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: white;
}



@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .profile-section {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: rgb(88, 163, 249);
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    gap: 16px;

    /* hidden by default */
    display: none;
  }

  .profile-section.open {
    display: flex;
  }

  .profile-section p {
    font-size: 16px;
  }

  .logout-btn {
    width: 100%;
    text-align: center;
  }
}
